* {
    margin: 0;
}

body{
    position: relative;
}

/* Modal */
.none{
    display: none;
}


#modal{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-modal{
    width: 50%;
    height: 50%;

    
}


header {
    height: 15vh;
    background-image: url(img/wall.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: 'Edu TAS Beginner', sans-serif;
    font-size: 4rem;
}

main {
    height: 85vh;
    background-image: url(img/cork.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* border: solid blue 2px; */
    height: 100%;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.card {
    position: relative;
    display: flex;
    height: 45%;
    flex-basis: calc(75% / 3);
    /* border: solid red 2px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.card:hover {
    transform: rotate(15deg) scale(1.5);
    transition: 0.3s ease-in-out;
    z-index: 1;
    border: solid black 1px;
    cursor: pointer;
}



.image{
    /* border: solid green 2px; */
    height: 65%;
    width: 90%;
}

.title{
    /* border: solid black 3px; */
    height: 15%;
    width: 90%;
    font-family: 'Edu TAS Beginner', sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
}

.date{
    /* border: solid white 3px; */
    height: 10%;
    width: 90%;
    font-family: 'Sometype Mono', sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
}

.svg{
    position: absolute;
    top: -10px;
}